**Problem:**

You are given the following dataset:
1. **Audible Data** : https://1drv.ms/u/s!AiqdXCxPTydhoog8ckLN-6Cw55fzIg?e=EWgZ5d

Your task is to:
- Find the problems with the datasets.
- Define the Data Quality Dimensions.
- Try to clean the datasets.

### Summary of the data

The data set contains list of audiobooks from 1998 till 2025. It contains all the important info related to the audiobooks. The data is scrapped from audible.in

### Addtional info

- It contains books written in more than 36 languages.

### Column Breakdown
- name: Name of the audiobook
- author: Author of the audiobook
- narrator: Narrator of the audiobook
- time: Length of the audiobook
- releasedate: Release date of the audiobook
- language: Language of the audiobook
- stars: No. of stars the audiobook received
- price: Price of the audiobook in INR
- ratings: No. of reviews received by the audiobook

### Issues with Data

**Quality Issuses:**

- `name`, `narrator` and `author` has some strange parts likes â€™, Ã¤, Ã¼ 

- `author`: each value starts with writtenby: should be removed
    
- `narrator`: each value starts with narratedby: should be removed
    
- `time`: not in datetime format 
    
- `releasedate`: not in datetime format 
    
- `Language`: inconsistent casing
    
- `stars`: should only have rating out of 5 stars unnescesary 
    
- `price`: some books are free so change that to 0 price. 

**Tidiness Issues:**
- `name`: 
    - Some books has the version in different formats.(These versions should not be removed, as they hold significance, so treat them according to the task given to you)
        - with hast-tag like "Geronimo Stilton #11 & #12".
        - "Magic Tree House Collection: Books 9-16".
        - "The 39 Clues, Book 6"
        
- `author`: multiple author name written in single column ,Should be written in separate columns
- `narrator`: multiple narrator name written in single column , should be written in separate column
- `stars`: star and rating are in single column should be separate

In [1]:
# imports

In [2]:
import pandas as pd
import numpy as np
import re
from datetime import timedelta

#### Programmatic Assessment

In [3]:
data= pd.read_csv('audible_uncleaned.csv')

In [4]:
# first make a copy of the df
df= data.copy()

In [5]:
df.columns

Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [7]:
df.shape

(87489, 8)

In [8]:
df.duplicated().sum()

0

In [9]:
df.describe()

,name,author,narrator,time,releasedate,language,stars,price
count,87489,87489,87489,87489,87489,87489,87489,87489
unique,82767,48374,29717,2284,5058,36,665,1011
top,The Art of War,"Writtenby:矢島雅弘,石橋遊",Narratedby:anonymous,2 mins,16-05-18,English,Not rated yet,586.00
freq,20,874,1034,372,773,61884,72417,5533

In [10]:
pd.set_option('display.max_rows', None)

### price

In [11]:
df[df['price'] == 'Free'].count()

name           338
author         338
narrator       338
time           338
releasedate    338
language       338
stars          338
price          338
dtype: int64

In [12]:
# storing the index of the rows where 'Free' is written
temp_df = df[df['price'] == 'Free']

In [13]:
# replacing it with 0
df.loc[temp_df.index, 'price']='0'

In [14]:
# changing its to float . 
# some values like 1,234 that cannot be converted directly into float so first we will remove the commas from them. 
df['price'] = df['price'].str.replace(',', '').astype(float)

### release date

In [15]:
# changing it to datetime
df['releasedate'] = pd.to_datetime(df['releasedate'])

### time

In [16]:
# This function converts the time to a `timedelta` object.
# Since `timedelta` represents durations, it is more suitable for this column.

def parse_duration(duration_str):
    # regex pattern 
    pattern =  '^((?P<hours>\d+)\s*(?:hr?s?))?(?:\s*(?:and)?)?\s*((?P<minutes>[0-5][0-9]|[0-9])\s*(?:min?s?))?$'
    
    match = re.search(pattern, duration_str, re.IGNORECASE)
    
    if not match:
        raise ValueError("Duration string is not in the expected format")
    
    # extracting the hours and minutes 
    hours = match.group('hours')
    minutes = match.group('minutes')
    
    # Convert to integer, defaulting to 0 if not provided
    hours = int(hours) if hours else 0
    minutes = int(minutes) if minutes else 0
    
    # Create a timedelta object
    timedelta_obj = timedelta(hours=hours, minutes=minutes)
    
    return timedelta_obj

In [17]:
# some values in time is 'Less than 1 minute' which will cause problem when we will pass this series to the function so will change it to 1 min
# here I gathered the indexes that has this value
temp_df = df[df['time'] == 'Less than 1 minute']

In [18]:
# changing the value
df.loc[temp_df.index, 'time'] = '1 min'

In [19]:
# applying/calling the function on the series
df['time'] = df['time'].apply(parse_duration)

### language

In [20]:
# changing to title case
df['language'] = df['language'].str.title()

### author

In [21]:
#df["author"].str.encode('ascii', 'ignore').str.decode('ascii').copy()

In [22]:
#remove the strange parts
df["author"]   = df["author"].str.encode('ascii', 'ignore').str.decode('ascii').copy()

In [23]:
# removing 'WrittenBy:' from author column
df['author'] = df['author'].str.strip().str.split(':').str.get(1)

In [24]:
# this function will add space between the person's first and last name
def add_space(name):
    if isinstance(name, str):  # Check if the input is a string
        return re.sub(r'(?<=[a-z])([A-Z])', r' \1', name)
    return name  # If not a string (e.g., NaN), return the value as is

In [25]:
df['author'] = df['author'].apply(add_space)

In [26]:
# splitting the authors into multiple columns
author1 = df['author'].str.strip().str.split(',').str.get(0)
df.insert(2, 'author1',author1)

author2 = df['author'].str.strip().str.split(',').str.get(1)
df.insert(3, 'author2',author2)

author3 = df['author'].str.strip().str.split(',').str.get(2)
df.insert(4, 'author3',author3)

author4 = df['author'].str.strip().str.split(',').str.get(3)
df.insert(5, 'author4',author4)

In [27]:
# drop the author column as it is of no use now
df.drop('author', axis=1, inplace=True)

### narrator

In [28]:
#remove the strange parts
df["narrator"] = df["narrator"].str.encode('ascii', 'ignore').str.decode('ascii').copy()

In [29]:
# removing 'narratedby' from narrator column
df['narrator'] = df['narrator'].str.strip().str.split(':').str.get(1)

In [30]:
# adding space between first and last name
df['narrator'] = df['narrator'].apply(add_space)

In [31]:
# splitting the narrators into multiple columns
narrator1 = df['narrator'].str.strip().str.split(',').str.get(0)
df.insert(6, 'narrator1',narrator1)

narrator2 = df['narrator'].str.strip().str.split(',').str.get(1)
df.insert(7, 'narrator2',narrator2)

narrator3 = df['narrator'].str.strip().str.split(',').str.get(2)
df.insert(8, 'narrator3',narrator3)

narrator4 = df['narrator'].str.strip().str.split(',').str.get(3)
df.insert(9, 'narrator4',narrator4)

In [32]:
# drop the narrator column as it is of no use now
df.drop('narrator', axis=1, inplace=True)

### name

In [33]:
# when we will remove strange parts from the name column it will make some values nan
# so storing them so that later we can replace the nan values with the old ones
nan_created_values = df[df["name"].str.encode('ascii', 'ignore').isnull()]

In [34]:
#remove the strange parts
df["name"] = df["name"].str.encode('ascii', 'ignore').str.decode('ascii').copy()

In [35]:
# now remove the NaN values of the "name" column with the old ones
for index in nan_created_values.index:
    df["name"][index] = nan_created_values["name"][index]

### stars

In [36]:
df['num_reviews'] = df['stars'].str.strip().str.split('stars').str.get(1)

In [37]:
df['stars'] = df['stars'].str.strip().str.split('stars').str.get(0)

In [38]:
df['stars'] = df['stars'].str.strip().str.split(' ').str.get(0)

In [39]:
temp_df = df[df['stars'] == 'Not']

In [40]:
df.loc[temp_df.index, 'stars'] = '0'

In [41]:
df['stars'] = df['stars'].astype(float)

### num_reviews

In [42]:
# first remove the 'ratings' part
# Then any commas from the string 
# converting it to float type
df['num_reviews'] = df['num_reviews'].str.strip().str.split(' ').str.get(0).str.replace(',', '').astype(float)

### Dataset After Being Cleaned

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author1      87489 non-null  object
 2   author2      13727 non-null  object
 3   author3      2354 non-null   object
 4   author4      776 non-null    object
 5   narrator1    87489 non-null  object
 6   narrator2    11735 non-null  object
 7   narrator3    2881 non-null   object
 8   narrator4    1656 non-null   object
 9   time         87489 non-null  timedelta64[ns]
 10  releasedate  87489 non-null  datetime64[ns]
 11  language     87489 non-null  object
 12  stars        87489 non-null  float64
 13  price        87489 non-null  float64
 14  num_reviews  15072 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(10), timedelta64[ns](1)
memory usage: 10.0+ MB

In [45]:
df.head(50)

,name,author1,author2,author3,author4,narrator1,narrator2,narrator3,narrator4,time,releasedate,language,stars,price,num_reviews
0,Geronimo Stilton #11 & #12,Geronimo Stilton,NaN,NaN,NaN,Bill Lobely,NaN,NaN,NaN,0 days 02:20:00,2008-04-08,English,5.0,468.0,34.0
1,The Burning Maze,Rick Riordan,NaN,NaN,NaN,Robbie Daymond,NaN,NaN,NaN,0 days 13:08:00,2018-01-05,English,4.5,820.0,41.0
2,The Deep End,Jeff Kinney,NaN,NaN,NaN,Dan Russell,NaN,NaN,NaN,0 days 02:03:00,2020-06-11,English,4.5,410.0,38.0
3,Daughter of the Deep,Rick Riordan,NaN,NaN,NaN,Soneela Nankani,NaN,NaN,NaN,0 days 11:16:00,2021-05-10,English,4.5,615.0,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,NaN,NaN,NaN,Jesse Bernstein,NaN,NaN,NaN,0 days 10:00:00,2010-01-13,English,4.5,820.0,181.0
5,The Hunger Games: Special Edition,Suzanne Collins,NaN,NaN,NaN,Tatiana Maslany,NaN,NaN,NaN,0 days 10:35:00,2018-10-30,English,5.0,656.0,72.0
6,Quest for the Diamond Sword,Winter Morgan,NaN,NaN,NaN,Luke Daniels,NaN,NaN,NaN,0 days 02:23:00,2014-11-25,English,5.0,233.0,11.0
7,The Dark Prophecy,Rick Riordan,NaN,NaN,NaN,Robbie Daymond,NaN,NaN,NaN,0 days 12:32:00,2017-02-05,English,5.0,820.0,50.0
8,Merlin Mission Collection,Mary Pope Osborne,NaN,NaN,NaN,Mary Pope Osborne,NaN,NaN,NaN,0 days 10:56:00,2017-02-05,English,5.0,1256.0,5.0
9,The Tyrants Tomb,Rick Riordan,NaN,NaN,NaN,Robbie Daymond,NaN,NaN,NaN,0 days 13:22:00,2019-09-24,English,5.0,820.0,58.0
10,"The Titan's Curse: Percy Jackson, Book 3",Rick Riordan,NaN,NaN,NaN,Jesse Bernstein,NaN,NaN,NaN,0 days 08:48:00,2010-01-14,English,4.5,820.0,130.0
11,Magic Tree House Collection: Books 9-16,Mary Pope Osborne,NaN,NaN,NaN,Mary Pope Osborne,NaN,NaN,NaN,0 days 05:23:00,2011-08-24,English,5.0,1206.0,6.0
12,Magic Tree House Collection: Books 1-8,Mary Pope Osborne,NaN,NaN,NaN,Mary Pope Osborne,NaN,NaN,NaN,0 days 06:01:00,2011-09-27,English,5.0,1206.0,7.0
13,Magnus Chase and the Ship of the Dead,Rick Riordan,NaN,NaN,NaN,Michael Crouch,NaN,NaN,NaN,0 days 12:58:00,2017-03-10,English,5.0,820.0,41.0
14,Northern Lights,Philip Pullman,NaN,NaN,NaN,Philip Pullman,fullcast,Ruth Wilson,NaN,0 days 11:55:00,2021-06-24,English,4.0,1093.0,2.0
15,Geronimo Stilton #13 and #14,Geronimo Stilton,NaN,NaN,NaN,Bill Lobley,NaN,NaN,NaN,0 days 02:25:00,2008-08-02,English,4.5,467.0,33.0
16,Magic Tree House Collection,Mary Pope Osborne,NaN,NaN,NaN,Mary Pope Osborne,NaN,NaN,NaN,0 days 05:04:00,2004-12-26,English,5.0,1206.0,7.0
17,Exile,Shannon Messenger,NaN,NaN,NaN,Caitlin Kelly,NaN,NaN,NaN,0 days 14:41:00,2018-06-11,English,5.0,836.0,20.0
18,Merlin Mission Collection,Mary Pope Osborne,NaN,NaN,NaN,Mary Pope Osborne,NaN,NaN,NaN,0 days 10:18:00,2017-02-05,English,5.0,1256.0,11.0
19,Neverseen,Shannon Messenger,NaN,NaN,NaN,Caitlin Kelly,NaN,NaN,NaN,0 days 16:42:00,2018-06-11,English,5.0,1003.0,13.0
20,The Tower of Nero,Rick Riordan,NaN,NaN,NaN,Robbie Daymond,NaN,NaN,NaN,0 days 12:12:00,2020-06-10,English,5.0,615.0,79.0
21,"Eldest: The Inheritance Cycle, Book 2",Christopher Paolini,NaN,NaN,NaN,Gerrard Doyle,NaN,NaN,NaN,0 days 23:29:00,2009-04-14,English,4.5,957.0,47.0
22,Artemis Fowl,Eoin Colfer,NaN,NaN,NaN,Gerry O'Brien,NaN,NaN,NaN,0 days 06:46:00,2013-11-04,English,5.0,683.0,27.0
23,Geronimo Stilton 22 & 24,Geronimo Stilton,NaN,NaN,NaN,Bill Lobley,NaN,NaN,NaN,0 days 02:37:00,2011-01-02,English,4.5,469.0,25.0
24,Percy Jackson and the Battle of the Labyrinth,Rick Riordan,NaN,NaN,NaN,Jesse Bernstein,NaN,NaN,NaN,0 days 10:32:00,2010-01-21,English,5.0,820.0,101.0
25,Winnie-the-Pooh,A.A.Milne,NaN,NaN,NaN,Peter Dennis,NaN,NaN,NaN,0 days 02:46:00,2003-12-28,English,5.0,468.0,15.0
26,Magic Tree House Collection: Books 25-32,Mary Pope Osborne,NaN,NaN,NaN,Mary Pope Osborne,NaN,NaN,NaN,0 days 07:09:00,2020-01-09,English,5.0,1256.0,3.0
27,Geronimo Stilton #20 and #21,Geronimo Stilton,NaN,NaN,NaN,Bill Lobley,NaN,NaN,NaN,0 days 02:32:00,2010-01-10,English,5.0,469.0,18.0
28,The Red Pyramid,Rick Riordan,NaN,NaN,NaN,Jane Collingwood,Joseph May,NaN,NaN,0 days 13:44:00,2013-01-24,English,4.5,820.0,37.0
29,Mystery of the Griefer's Mark,Winter Morgan,NaN,NaN,NaN,Luke Daniels,NaN,NaN,NaN,0 days 01:53:00,2014-11-25,English,5.0,233.0,9.0
30,Geronimo Stilton #17,Geronimo Stilton,NaN,NaN,NaN,Bill Lobley,NaN,NaN,NaN,0 days 02:28:00,2009-07-13,English,5.0,468.0,8.0
31,The House at Pooh Corner,A.A.Milne,NaN,NaN,NaN,Peter Dennis,NaN,NaN,NaN,0 days 03:12:00,2005-05-04,English,5.0,374.0,5.0
32,Mission Unstoppable,Dan Gutman,NaN,NaN,NaN,Michael Goldstrom,NaN,NaN,NaN,0 days 06:08:00,2013-01-08,English,5.0,702.0,8.0
33,Darkness of Dragons,Tui T.Sutherland,NaN,NaN,NaN,Shannon Mc Manus,NaN,NaN,NaN,0 days 10:26:00,2017-01-08,English,5.0,656.0,8.0
34,"14 Short Stories Bundle for Kids: Adventure, S...",Nayomi Phillips,NaN,NaN,NaN,Monica Rachelle,Jim D.Johnston,Katie Otten,NaN,0 days 03:13:00,2019-01-22,English,0.0,501.0,NaN
35,The Adventures of Rusty,Ruskin Bond,NaN,NaN,NaN,Neha Gargava,NaN,NaN,NaN,0 days 05:41:00,2018-01-11,Hindi,4.5,284.0,10.0
36,Geronimo Stilton #15 and #16,Geronimo Stilton,NaN,NaN,NaN,Bill Lobley,NaN,NaN,NaN,0 days 02:43:00,2008-08-02,English,4.0,467.0,28.0
37,The Lost Heir,Tui T.Sutherland,NaN,NaN,NaN,Shannon Mc Manus,NaN,NaN,NaN,0 days 07:23:00,2016-04-02,English,5.0,575.0,9.0
38,Everblaze,Shannon Messenger,NaN,NaN,NaN,Caitlin Kelly,NaN,NaN,NaN,0 days 14:39:00,2018-06-11,English,5.0,836.0,18.0
39,Treasure Hunters in Trouble,Winter Morgan,NaN,NaN,NaN,Luke Daniels,NaN,NaN,NaN,0 days 01:58:00,2015-03-31,English,5.0,668.0,7.0
40,Lodestar,Shannon Messenger,NaN,NaN,NaN,Caitlin Kelly,NaN,NaN,NaN,0 days 16:31:00,2018-06-11,English,5.0,1003.0,19.0
41,Curse of the Arctic Star,Carolyn Keene,NaN,NaN,NaN,Jorjeana Marie,NaN,NaN,NaN,0 days 03:35:00,2014-12-28,English,4.5,305.0,25.0
42,The Ghost of Grey Fox Inn,Carolyn Keene,NaN,NaN,NaN,Jorjeana Marie,NaN,NaN,NaN,0 days 03:19:00,2017-03-20,English,5.0,305.0,11.0
43,Rowley Jefferson's Awesome Friendly Adventure,Jeff Kinney,NaN,NaN,NaN,Christopher Gebauer,NaN,NaN,NaN,0 days 01:31:00,2020-04-08,English,4.0,410.0,16.0
44,Flashback,Shannon Messenger,NaN,NaN,NaN,Caitlin Kelly,NaN,NaN,NaN,0 days 23:09:00,2018-11-12,English,5.0,1170.0,12.0
45,Secret of the Red Arrow,Franklin W.Dixon,NaN,NaN,NaN,Tim Gregory,NaN,NaN,NaN,0 days 03:33:00,2015-04-11,English,4.5,305.0,16.0
46,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,NaN,NaN,NaN,Walter Lewis,NaN,NaN,NaN,0 days 03:51:00,2010-01-13,English,4.0,615.0,4.0
47,Clash of the Creepers,Winter Morgan,NaN,NaN,NaN,Luke Daniels,NaN,NaN,NaN,0 days 02:01:00,2015-07-07,English,5.0,233.0,10.0
48,The Skeletons Strike Back,Winter Morgan,NaN,NaN,NaN,Luke Daniels,NaN,NaN,NaN,0 days 02:01:00,2015-07-07,English,5.0,233.0,7.0
49,Dragonslayer,Tui T.Sutherland,NaN,NaN,NaN,Shannon Mc Manus,NaN,NaN,NaN,0 days 12:44:00,2020-03-03,English,5.0,656.0,17.0

In [48]:
df['author4'].isnull().sum()

86713

In [49]:
df.shape

(87489, 15)